.backdrop {
    width: 98.75vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.6;
}

.message{
    padding-left: 14vw;
    padding-right: 14vw;
    padding-top: 16vh;
    padding-bottom: 16vh;
    position: absolute;
    top: 33%;
    left: 33%;
    background-color: white;
}