.container {
  display: flex;
  align-content: space-around;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.scoreControl {
  display: flex;
  align-content: center;
  align-items: center;
}

.scoreButtonContainer {
    display: flex;
    flex-direction: column;
}

.commentTextArea{
    overflow-wrap: break-word;
    overflow: auto;
    max-width: 70%;
}
