@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px) scale(0, 0);
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0) scale(1, 1);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0) scale(1, 1);
  width: auto;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px) scale(0, 0);
  width: 0px;

  transition: opacity 250ms ease-out, transform 300ms ease;
}
